<!doctype html>

<html>
    <title>
        Authentication
    </title>

    <body> 
        <form method="POST" action="/auth">
            <input name="email" type="email" placeholder="email abc@xyz.com" required>
            <input name="username" placeholder="username" required>
            <input name="password" type="password" required>
            <input name="passwordConf" type="password" required>
            <input type="submit" name="submit">
        </form>
    </body>
</html>