<form method="POST" action="/">
    <label>Name of the Link: </label>
    <input type="text" name="link" placeholder="abc.com" required>
    <label>Link:</label>
    <input type="text" name="name" placeholder="Reddit Game Sub" required>
    <label>Description:</label>
    <input type="text" name="desc" placeholder="describe what you pasted..." required>
    <input type="submit" value="Submit!">
</form>